body{width: 80%;margin: 50px auto;}

.flex{display: flex; justify-content: space-between;}
.flex-col{display: flex; justify-content: space-between; flex-direction: column}

.screen {margin: 25px;padding: 10px;background: #fbf3e3;width: 100%;border: 2px solid #c40f21;}

.travel-item {direction: rtl;justify-content: space-evenly;display: flex;padding: 5px;border-bottom: 1px solid gray;}
.travel-item > div { width: 25%;}
.travel-header {font-weight: bold;color:#c40f21;}
input {
    width: 50%;
}
